---
layout: default
jsonld: jsonld-website
---
<div class="container front-page">
    <header>
        <div class="profile-intro">
            <img src="/assets/images/profile_headshot.png" alt="portrait of the author of this website">
            <h1>Welcome!<br>I'm Mitch</h1>
        </div>
        <div class="profile-bio">
            <p>I am a software developer born and raised in New Zealand.</p>
            <p>I created this website to talk about things I know and some things I don't.</p>
        </div>
    </header>
    <section class="section latest-posts">
        <h2>Latest posts</h2>
        <div class="posts-container">
            {% assign posts = site.posts | where:'visible','true' %}
            {% for post in posts limit:2 %}
            {% include post-card.html %}
            {% endfor %}
        </div>
        <div class="view-more">
            <a href="/blog">view more ></a>
        </div>
    </section>
</div>