<div class="blog-header">
  <ul>
    <li>
      <a href="/blog" {% if page.category == "blog" %} class="active"{% endif %}>
        All
      </a>
    </li>
    <li>
      <a href="/blog/life" {% if page.category == "life" %} class="active"{% endif %}>
        <div class="emoji">🍎</div> Life
      </a>
    </li>
    <li>
      <a href="/blog/coding" {% if page.category == "coding" %} class="active"{% endif %}>
        💻  Coding
      </a>
    </li>
    <li>
      <a href="/blog/languages" {% if page.category == "languages" %} class="active"{% endif %}>
        🌍  Languages
      </a>
    </li>
  </ul>
</div>