<footer>
  <div class="links">
    <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/twosixmitch">
      <img src="/assets/logos/instagram.png" alt="link to Instagram" class="logo" />
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/twosixmitch">
      <img src="/assets/logos/github.png" alt="link to GitHub" class="logo" />
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/twosixmitch">
      <img src="/assets/logos/facebook.png" alt="link to facebook" class="logo" />
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOVyGxIH1HwABb-SOkX6R_w">
      <img src="/assets/logos/youtube.png" alt="link to youtube" class="logo" />
    </a>
  </div>
</footer>