<footer>
	<div class="links">
		<a target="_blank" rel="noopener noreferrer" href="https://instagram.com/twosixmitch">
			<object type="image/svg+xml" data="/assets/logos/instagram.svg" class="logo">Instagram</object>
		</a>
		<a target="_blank" rel="noopener noreferrer" href="https://github.com/twosixmitch">
			<object type="image/svg+xml" data="/assets/logos/github.svg" class="logo">GitHub</object>
		</a>
		<a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/twosixmitch">
			<object type="image/svg+xml" data="/assets/logos/facebook.svg" class="logo">Facebook</object>
		</a>
		<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOVyGxIH1HwABb-SOkX6R_w">
			<object type="image/svg+xml" data="/assets/logos/youtube.svg" class="logo">Youtube</object>
		</a>
	</div>
</footer>