<header>
	<nav id="nav">
		<div class="container">
			<div class="brand">
				<a href="/">👨🏻‍💻 Mitchell Duncan</a>
			</div>
			<div class="links">
        <a href="/projects">Projects</a>
				<a href="/blog">Blog</a>
			</div>
		</div>
	</nav>
	<script>
		window.addEventListener('scroll', this.navOnScroll)
		
		function navOnScroll () {
			if (window.scrollY > 20) {
				var navElement = document.getElementById("nav")
				if (!navElement.classList.contains("scroll"))
				{
					navElement.classList.add("scroll");
				}
			} else {
				document.getElementById("nav").classList.remove("scroll");
			}
  	}
	</script>
</header>