<header>
	<nav class="nav">
		<div class="nav-container">
			<div class="brand">
				<a href="/">
					<span class="emoji">👨🏻‍💻</span>
					<span class="text">Mitchell Duncan</span>
				</a>
			</div>
			<div class="links">
				<a href="/blog/">Blog</a>
				<a href="/about/">About</a>
				<a target="_blank" rel="noopener noreferrer" href="https://instagram.com/twosixmitch">
					<img src="/assets/logos/Instagram.png" alt="Instagram" class="logo">
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://github.com/twosixmitch">
					<img src="/assets/logos/GitHub.png" alt="GitHub" class="logo">
				</a>
				<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOVyGxIH1HwABb-SOkX6R_w">
					<img src="/assets/logos/Youtube.png" alt="Youtube" class="logo">
				</a>
			</div>
		</div>
	</nav>
</header>