<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "dateModified": "{% if page.modified %}{{ page.modified }}{% else %}{{ page.date }}{% endif %}",
  "datePublished": "{{ page.date }}",
  "headline": "{{ page.title }}",
  "description": "{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}",
  "image": "{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}",
  "isAccessibleForFree": "True",
  "author": {% include jsonld-person.html %},
  "publisher": {% include jsonld-organization.html %}
},
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ page.permalink | replace:'/:name','' | prepend: site.baseurl | prepend: site.url }}",
        "name": "Blog"
      },
    },
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
        "name": "{{ page.title }}",
        "image": "{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}"
      },
    },
  ]
}
</script>