<div class="alphabet">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'uppercase')" id="defaultOpen">uppercase</button>
    <button class="tablinks" onclick="openTab(event, 'lowercase')">lowercase</button>
    <button class="tablinks" onclick="openTab(event, 'combined')">both</button>
  </div>

  <div id="uppercase" class="tabcontent">
    <div class="flex-row flex-small">
      {%- include translation-card.html target="А" result="A" -%}
      {%- include translation-card.html target="Б" result="B" -%}
      {%- include translation-card.html target="В" result="V" -%}
      {%- include translation-card.html target="Г" result="G" -%}
      {%- include translation-card.html target="Д" result="D" -%}
      {%- include translation-card.html target="Е" result="E" -%}
      {%- include translation-card.html target="Ж" result="ZH" -%} 
      {%- include translation-card.html target="З" result="Z" -%}	
      {%- include translation-card.html target="И" result="I" -%}
      {%- include translation-card.html target="Й" result="Y" -%}
      {%- include translation-card.html target="К" result="K" -%}
      {%- include translation-card.html target="Л" result="L" -%}
      {%- include translation-card.html target="М" result="M" -%}
      {%- include translation-card.html target="Н" result="N" -%}
      {%- include translation-card.html target="О" result="O" -%}
      {%- include translation-card.html target="П" result="P" -%}
      {%- include translation-card.html target="Р" result="R" -%}
      {%- include translation-card.html target="С" result="S" -%}
      {%- include translation-card.html target="Т" result="T" -%}
      {%- include translation-card.html target="У" result="U" -%}
      {%- include translation-card.html target="Ф" result="F" -%}
      {%- include translation-card.html target="Х" result="H" -%}
      {%- include translation-card.html target="Ц" result="TS" -%}
      {%- include translation-card.html target="Ч" result="CH" -%}
      {%- include translation-card.html target="Ш" result="SH" -%}
      {%- include translation-card.html target="Щ" result="SHT" -%}
      {%- include translation-card.html target="Ъ" result="A" -%}
      {%- include translation-card.html target="Ь" result="softener" -%}
      {%- include translation-card.html target="Ю" result="YU" -%}
      {%- include translation-card.html target="Я" result="YA" -%}
    </div>
  </div>
    
  <div id="lowercase" class="tabcontent">
    <div class="flex-row flex-small">
      {%- include translation-card.html target="а" result="a" -%}
      {%- include translation-card.html target="б" result="b" -%}
      {%- include translation-card.html target="в" result="v" -%}
      {%- include translation-card.html target="г" result="g" -%}
      {%- include translation-card.html target="д" result="d" -%}
      {%- include translation-card.html target="е" result="e" -%}
      {%- include translation-card.html target="ж" result="zh" -%} 
      {%- include translation-card.html target="з" result="z" -%}	
      {%- include translation-card.html target="и" result="i" -%}
      {%- include translation-card.html target="й" result="y" -%}
      {%- include translation-card.html target="к" result="k" -%}
      {%- include translation-card.html target="л" result="l" -%}
      {%- include translation-card.html target="м" result="m" -%}
      {%- include translation-card.html target="н" result="n" -%}
      {%- include translation-card.html target="о" result="o" -%}
      {%- include translation-card.html target="п" result="p" -%}
      {%- include translation-card.html target="р" result="r" -%}
      {%- include translation-card.html target="с" result="s" -%}
      {%- include translation-card.html target="т" result="t" -%}
      {%- include translation-card.html target="у" result="u" -%}
      {%- include translation-card.html target="ф" result="f" -%}
      {%- include translation-card.html target="х" result="h" -%}
      {%- include translation-card.html target="ц" result="ts" -%}
      {%- include translation-card.html target="ч" result="ch" -%}
      {%- include translation-card.html target="ш" result="sh" -%}
      {%- include translation-card.html target="щ" result="sht" -%}
      {%- include translation-card.html target="ъ" result="a" -%}
      {%- include translation-card.html target="ь" result="softener" -%}
      {%- include translation-card.html target="ю" result="yu" -%}
      {%- include translation-card.html target="я" result="ya" -%}
    </div>
  </div>
    
  <div id="combined" class="tabcontent">
    <div class="flex-row flex-small">
      {%- include translation-card.html target="А а" result="A a" -%}
      {%- include translation-card.html target="Б б" result="B b" -%}
      {%- include translation-card.html target="В в" result="V v" -%}
      {%- include translation-card.html target="Г г" result="G g" -%}
      {%- include translation-card.html target="Д д" result="D d" -%}
      {%- include translation-card.html target="Е е" result="E e" -%}
      {%- include translation-card.html target="Ж ж" result="ZH zh" -%} 
      {%- include translation-card.html target="З з" result="Z z" -%}	
      {%- include translation-card.html target="И и" result="I i" -%}
      {%- include translation-card.html target="Й й" result="Y y" -%}
      {%- include translation-card.html target="К к" result="K k" -%}
      {%- include translation-card.html target="Л л" result="L l" -%}
      {%- include translation-card.html target="М м" result="M m" -%}
      {%- include translation-card.html target="Н н" result="N n" -%}
      {%- include translation-card.html target="О о" result="O o" -%}
      {%- include translation-card.html target="П п" result="P p" -%}
      {%- include translation-card.html target="Р р" result="R r" -%}
      {%- include translation-card.html target="С с" result="S s" -%}
      {%- include translation-card.html target="Т т" result="T t" -%}
      {%- include translation-card.html target="У у" result="U u" -%}
      {%- include translation-card.html target="Ф ф" result="F f" -%}
      {%- include translation-card.html target="Х х" result="H h" -%}
      {%- include translation-card.html target="Ц ц" result="TS ts" -%}
      {%- include translation-card.html target="Ч ч" result="CH ch" -%}
      {%- include translation-card.html target="Ш ш" result="SH sh" -%}
      {%- include translation-card.html target="Щ щ" result="SHT sht" -%}
      {%- include translation-card.html target="Ъ ъ" result="A a" -%}
      {%- include translation-card.html target="Ь ь" result="softener" -%}
      {%- include translation-card.html target="Ю ю" result="YU yu" -%}
      {%- include translation-card.html target="Я я" result="YA ya" -%}
    </div>
  </div>
</div>

<script>
  document.getElementById("defaultOpen").click();
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>