/**
 * Coming Soon
 */

 .coming-soon {
  text-align : center;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color      : $heading-font-color;
  padding-top: 4em;

  .emoji {
    font-size: $h2 * 2;
    padding-bottom: 0.5em;
  }

  .message {
    font-size: $h2;
  }
}
