/**
 * Footer
 */

.footer {    
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-mobile-height;
  background: $footer-background;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;

    a {
      padding: 1rem 0.5rem 1rem 0.5rem;
      margin: 0 1rem 0 1rem;
      border: none;
      
      &:hover,
      &:focus {
        color: $nav-font-color-alt-hover;
        text-decoration: none;
        border: none;
      }
    }

    .logo {
      max-width: 24px;
      height: auto;
    }
  }
}