/**
 * Gallery
 */

.image-gallery {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.image-gallery li {
  float: left; 
  display: block; 
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  max-width: 150px;
  height: auto;
}

.image-gallery li a {
  text-align: center; 
  text-decoration: none !important;
}

.image-gallery li a img {
  width: 100%; 
  display: block;
}