/**
 * Layout
 */

 #main-content {
    margin-top: $nav-height;
    padding: 5px 0 0;
  }
  
  @include small-breakpoint {
    #main-content {
      margin-top: $nav-height;
      padding: 5px 0 0;
    }
  }
  
  iframe {
    margin-bottom: 0;
  }
  
  ::selection {
    background: rgba(118, 234, 255, 0.8);
    color: #111;
  }