/**
 * Layout
 */

#main-content {
  margin-top: $nav-height;
  padding: $padding 0 0;
  min-height: calc(100vh - 134px);
}

.container {
  max-width: $content-width;  
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin-bottom: 0;
}

::selection {
  background: rgba(118, 234, 255, 0.8);
  color: #111;
}

.profile-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  flex: 1;

  img {
    display: flex;
    max-width: 256px;
    height: auto;
    margin: 0 3.5rem;
  }

  h1 {
    margin: 0 3rem;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
  }

}

.profile-bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  margin: 4rem 0 3rem 0;
  
  p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 120%;
    margin: 0;
    width: calc(100% - 20%);
  }
}