/**
 * Layout
 */

.main-content {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: $nav-mobile-height;
  padding-bottom: $footer-mobile-height; /* height of your footer */
}

@include small-breakpoint {
  .main-content {
    padding-top: $nav-desktop-height;
    padding-bottom: $footer-desktop-height;
  }
}

.container {
  max-width: $content-width;  
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin-bottom: 0;
}

::selection {
  background: rgba(118, 234, 255, 0.8);
  color: #111;
}

.front-page {

  header {

    margin: 2rem 1rem 2rem 1rem;

    .profile-intro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    
      img {
        max-width: 128px;
        height: auto;
        padding: 0 0.5rem;
      }
    
      h1 {
        margin: 0;
        padding: 0 0.5rem;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
      }
    }

    .profile-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
      margin: 0;
      
      p {
        margin-bottom: 0.5rem;
      }
    }
  }

  .view-more {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}



@include small-breakpoint {
  .front-page {
    
    header {

      margin: 3rem 1rem;

      .profile-intro {
        margin: 0;
      
        img {
          max-width: 200px;
          height: auto;
          padding: 0 1.5rem;
        }
      
        h1 {
          margin: 0;
          padding: 0 1.5rem;
          font-weight: 600;
          font-size: 4rem;
          text-align: center;
        }
      }

      .profile-bio {
        margin: 1.5rem 0 2rem 0;
        
        p {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

// 404 Page

.missing-header {
  margin-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    //display: flex;
    font-size: 5rem;
    margin-bottom: 0;
  }

  p {
    //display: flex;
    font-size: 1.25rem;
  }
}

.missing-info {
  text-align: center;

  p {
    font-size: 1rem;
  }
}