/**
 * Navigation
 */

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: $nav-background;
    transition: all 0.3s ease;
    
    .nav-container {
      padding: 0 1.5rem;
      height: $nav-mobile-height;
      max-width: $nav-width;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: height 0.3s ease;
    }
  
    .brand {
      a {
        display: flex;
        align-items: center;
        color: $nav-font-color;

        &:hover,
        &:focus {
          color: $nav-font-color-hover;
          text-decoration: none;
        }
      }

      .emoji {
        font-size: 1.5rem;
        padding: 0.5rem;
      }

      .text {
        display: block;
        font-weight: 600;
        font-size: 1.1rem; 
      }
    }
  
    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        margin: 0;
  
      a {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 0 0 0 0.5rem;
        color: $nav-font-color-alt;
        line-height: 1.2;
        text-align: center;
  
        &:hover,
        &:focus {
          color: $nav-font-color-alt-hover;
          text-decoration: none;
        }
      }

      .logo {
        max-width: 24px;
        height: auto;
      }
    }
}

@include small-breakpoint {
  .nav {
    .nav-container {
      height: $nav-desktop-height;

      .brand {
        .emoji {
          font-size: 1.5rem;
          padding: 0.5rem;
        }

        .text {
          display: block;
          font-weight: 600;
          font-size: 1.1rem;          
        }
      }

      .links {
        display: flex;
        flex-direction: row;

        a {
          font-size: 1.1rem;
        }
      }
    }
  }
}