/**
 * Postcards
 */
 
.posts-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .post-card {
        padding-right: 0rem;
        margin: 0rem 0 1rem 0;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    
        .graphic {
            margin: 4px 1rem 0 0;
            
            height: $post-small-img-height;
            width: $post-small-img-width;
            min-width: $post-small-img-width;
            min-height: $post-small-img-height;

            a {
                border: none;
                
                &:hover,
                &:active,
                &:focus {
                   border: none;
                }
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    
        .details {
    
            h3 {
                margin: 0 0 0.25rem 0;
            
                a {
                    color: $font-color;
                    border: none;
                    &:hover,
                    &:focus {
                        color: black;
                        text-decoration: none;
                        border: none;
                    }
                }   
            }

            .meta {
                display: flex;
                flex-direction: row;

                p {
                    margin: 0;
                    padding: 0;
                }

                .date {
                    margin-right: 0.5rem;
                    font-size: 75%;
                    color: grey;
                }

                .tags {
                    display: none;
                    margin: 0;
                    font-size: 75%;
                    color: grey;
                    text-transform: uppercase;
                }
            }

            .excerpt {
                display: none;
            }
        }
    }
 }

 
@include small-breakpoint {
    .posts-container {
        .post-card {
            flex-direction: row;
            max-width: 100%;

            .graphic {
                margin: 4px 1rem 0 0;
                height: $post-large-img-height;
                width: $post-large-img-width;
                min-width: $post-large-img-width;
                min-height: $post-large-img-height;
            }

            .details {
                margin: 0;

                .meta {
                    margin: 0 0 0.25rem 0;
                }

                .excerpt {
                    display: block;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}