/**
 * Posts
 */

.whisper {
  font-size: 75%;
}

article {
  margin-bottom : 3em;
}

article header {
  display        : flex;
  flex-direction : row;
  margin-top     : 2em;
  margin-bottom  : 2em;
}

article header .graphic {
  width     : $post-small-img-width;
  height    : $post-small-img-height;
  min-width : $post-small-img-width;
  margin    : 0.25em 1em 0 0;
  
  img {
    height : 100%;
    width  : 100%;
  }
}

article header .details .title {
  margin  : 0 0 0.25em 0;
  padding : 0;
}

article header .details .meta {
  display        : flex;
  flex-direction : row;
  font-size      : 0.7em;

  .date {
    margin-right : 0.5em;
    margin-top   : 0.1em;
  }
}

@include small-breakpoint {
  article header .graphic  {
    width     : $post-large-img-width;
    height    : $post-large-img-height;
    min-width : $post-large-img-width;
  }
}

.post-tag {
  display        : block;
  text-transform : uppercase;
  background     : $post-tags-bg-color;
  border-radius  : 3px;
  padding-top    : 1px;
  padding-bottom : 1px;

  a {
    padding     : $post-tags-padding;
    color       : $post-tags-font-color;
    border      : none;
    font-weight : 500;

    &:hover,
    &:focus {
      color : $post-tags-font-color-hover;
    }
  }
}