/**
 * Posts
 */

.whisper {
  font-size: 75%;
}

article {
  margin-bottom : 3em;
}

article header {
  display        : flex;
  flex-direction : row;
  margin-top     : 2em;
  margin-bottom  : 2em;
}

article header .graphic {
  width     : $post-small-img-width;
  height    : $post-small-img-height;
  min-width : $post-small-img-width;
  margin    : 0.25em 1em 0 0;
  
  img {
    height : 100%;
    width  : 100%;
  }
}

article header .details .title {
  margin  : 0 0 0.25em 0;
  padding : 0;
}

article header .details .meta {
  display        : flex;
  flex-direction : row;
  font-size      : 0.7rem;

  .date {
    margin-right : 0.4rem;
    margin-top   : 0.1rem;
  }

  .read-time {
    margin-right : 0.4rem;
    margin-top   : 0.1rem;
  }

  .separator {
    margin-right : 0.4rem;
    margin-top   : 0.1rem;
    font-weight  : bold;
  }

  .tags {
    margin-left : 0.1rem;
  }
}

.post-tag {
  display        : block;
  text-transform : capitalize;
  padding-top    : 1px;
  padding-bottom : 1px;

  a {
    background  : $post-tags-bg-color;
    padding     : 0.25em 0.5em;
    color       : $post-tags-font-color;
    border      : none;
    font-weight : 500;
    border-radius  : 3px;

    &:hover,
    &:focus {
      color      : black;
      background : darken($post-tags-bg-color, 10%);
    }
  }
}

@include small-breakpoint {
  article header .graphic  {
    width     : $post-large-img-width;
    height    : $post-large-img-height;
    min-width : $post-large-img-width;
  }
}

/* Post Side Nav */

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}