/**
 * Projects
 */

.project-card-container {
  display         : flex;
  flex-direction  : row;
  align-content   : center;
  justify-content : center;
}

.project-card a {
  text-decoration: none;
  border: none;
}