---
layout: default
---
<div class="container">
    <div class="blog-header">
        <!--<h1>Blog</h1>-->
    </div>
    <div class="posts-container">
        <div class="post-card">
            <div class="graphic"><a href="/blog/"></a></div>
            <div class="details">
                <h2><a href="/blog/">This is the title of my latest post</a></h2>
                <p class="date">24th July 2019</p>
                <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices libero vel mi euismod, vitae mattis quam viverra. Aenean efficitur feugiat leo ac egestas. Suspendisse posuere mollis sapien.</p>
                <p class="tags">UPDATE</p>
            </div>
        </div>
        <div class="post-card">
            <div class="graphic"><a href="/blog/"></a></div>
            <div class="details">
                <h2><a href="/blog/">This is the title of a post which is actually a little bit longer</a></h2>
                <p class="date">23rd July 2019</p>
                <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur feugiat leo ac egestas. Suspendisse posuere mollis sapien.</p>
                <p class="tags">UPDATE</p>
            </div>
        </div>
        <div class="post-card">
            <div class="graphic"><a href="/blog/"></a></div>
            <div class="details">
                <h2><a href="/blog/">This the title of an old post</a></h2>
                <p class="date">22nd July 2019</p>
                <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur feugiat leo ac egestas. Suspendisse posuere mollis sapien.</p>
                <p class="tags">UPDATE</p>
            </div>
        </div>
    </div>
</div>