---
layout: page-post
---
<article class="container">
  <header>
    <div class="graphic">
      <img src="{{ page.thumbnail }}" alt="{{ page.thumbnail-desc }}">
    </div>
    <div class="details">
      <h1 class="title">{{- page.title -}}</h1>
      <div class="meta">
        {%- include date.html date=page.date -%}
        <div class="separator">·</div>
        <div class="read-time">{%- include post-readtime.html -%}</div>
        <div class="tags">
          {%- assign categories = page.categories -%}
          {%- for category in categories -%}
            {%- include post-tag.html category=category -%}        
          {%- endfor -%}
        </div>
      </div>
    </div>
  </header>
  <div class="post">
    <!-- {% include post-sidenav.html %} -->
    <div class="post-content">
      {{- content -}}
    </div>
  </div>
</article>